#ourChefSection {
	background-image: url(../../images/Background02.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f64b3c;
	padding-bottom: 50px;
	padding-top: 50px;
	display: grid;
	grid-template-rows: repeat(2, minmax(1fr, 1fr));
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	justify-items: center;
	align-items: center;
}

#chefDetail {
	display: grid;
	justify-content: center;
	justify-items: center;
	grid-column: 1/-1;
}

#chefDetail h1 {
	padding: 30px;
	font-size: 50px;
	font-family: Archivo-Bold;
}

#chefDetail p {
	font-size: 22px;
	font-family: Nunito-Regular;
	width: 60%;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	#ourChefSection {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		text-align: center;
	}
	#ourChefSection {
		padding: 0px 5%;
	}
	#chefDetail {
		text-align: center;
	}
	#chefDetail p {
		width: 90%;
	}
}
