    @font-face {
        font-family: Poppins-SemiBold;
        src: url(../fonts/Poppins-SemiBold.ttf);
    }

    @font-face {
        font-family: Archivo-Bold;
        src: url(../fonts/Archivo-Bold.ttf);
    }

    @font-face {
        font-family: Nunito-Regular;
        src: url(../fonts/Nunito-Regular.ttf)
    }

    @font-face {
        font-family: Montserrat-Regular;
        src: url(../fonts/Montserrat-Regular.ttf)
    }

    @font-face {
        font-family: Montserrat-Bold;
        src: url(../fonts/Montserrat-Bold.ttf);
    }

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .uniPadding {
        padding: 0px 5%;
    }

    /* discount section */

    #discountSection {
        background-image: url(/images/Background\ 01.png);
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #logo, #discountInfo {
        width: 50%;
    }

    #navbar {
        width: 50%;
        text-align: right;
    }

    #navbar ul li {
        display: inline-block;
        font-size: 18px;
        font-family: Poppins-SemiBold;
        padding-left: 30px;
    }

    #navbar ul li a {
        text-decoration: none;
        color: white;
    }

    #navbar ul li a:hover {
        text-decoration: underline;
        color: wheat;
    }

    #discountInfo h1 {
        font-size: 70px;
        font-family: Archivo-Bold;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    #discountInfo p {
        font-size: 30px;
        font-family: Nunito-Regular;
    }

    #discountInfo h2 {
        font-size: 18px;
        font-family: Poppins-SemiBold;
        background-color: #f64b3c;
        width: 200px;
        padding: 10px 30px;
        text-align: center;
        border-radius: 30px;
        margin-top: 50px;
    }

    #discountInfo h2 a {
        text-decoration: none;
        color: white;
    }

    #discountInfo h2 a:hover {
        color: wheat;

    }

    /* Our Chef Section */

    #ourChefSection {
        background-image: url(../images/Background\ 02.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #f64b3c;
        padding-bottom: 50px;
        padding-top: 50px;
        display: grid;
        grid-template-rows: repeat(2, minmax(1fr, 1fr));
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        justify-items: center;
        align-items: center;
    }

    #chefDetail {
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-column: 1/-1;
    }

    #chefDetail h1 {
        padding: 30px;
        font-size: 50px;
        font-family: Archivo-Bold;
    }

    #chefDetail p {
        font-size: 22px;
        font-family: Nunito-Regular;
    }

    #chef {
        text-align: center;
        padding: 30px 10px;
    }

    #chef img {
        width: 200px;
        padding: 10px;
    }

    #chef h1 {
        font-size: 25px;
        font-family: Archivo-Bold;
        padding: 15px 0px;
    }

    #chef p {
        font-family: Montserrat-Regular;
        font-size: 18px;
    }

    /* burger Catory Section */

    #burgerCategorySection {
        background-color: #f64b3c;
        color: white;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 7%;
    }

    #burgerImage {
        width: 50%;
    }

    #burgerImage img {
        width: 80%;
    }

    #burgerInfo {
        width: 50%;
    }

    #burgerCategorySection h1 {
        font-size: 70px;
        font-family: Archivo-Bold;
        padding: 20px 0px;
    }

    #burgerCategorySection p {
        font-size: 24px;
        font-family: Nunito-Regular;
        padding-bottom: 40px;
    }

    #burgerCategorySection h2 {
        font-size: 22px;
        font-family: Poppins-SemiBold;
        background-color: white;
        width: 200px;
        padding: 10px 30px;
        text-align: center;
        border-radius: 30px;
    }

    #burgerCategorySection h2 a {
        text-decoration: none;
        color: #f64b3c;
    }

    #burgerCategorySection h2 a:hover {
        color: wheat;
    }

    /* burger category section2 */

    #burgerCategorySection1 {
        background-image: url(../images/Background\ 03.jpg);
        background-size: cover;
        background-position: center;
        color: #f64b3c;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 7%;
    }

    #burgerInfo1 {
        width: 50%;
    }

    #burgerCategorySection1 h1 {
        font-size: 70px;
        font-family: Archivo-Bold;
        padding: 20px 0px;

    }

    #burgerCategorySection1 p {
        font-size: 24px;
        font-family: Nunito-Regular;
        padding-bottom: 40px;
    }

    #burgerImage1 {
        width: 50%;
        text-align: right;
    }

    #burgerImage1 img {
        width: 80%;
    }

    /* order now button */

    #burgerCategorySection1 h2,
    #bestPackage h2 {
        font-size: 22px;
        font-family: Poppins-SemiBold;
        background-color: #f64b3c;
        color: white;
        width: 200px;
        padding: 10px 30px;
        text-align: center;
        border-radius: 30px;
    }

    #burgerCategorySection1 h2 a,
    #bestPackage h2 a {
        text-decoration: none;
        color: white
    }

    #burgerCategorySection1 h2 a:hover,
    #bestPackage h2 a:hover {
        color: wheat;
    }

    /* statistics Section */

    #statisticsSection {
        background-color: #f64b3c;
        color: white;
        display: grid;
        grid-template-rows: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        justify-items: center;
        text-align: center;
        padding: 7%;
    }

    #statisticsHeading {
        grid-column: 1/-1;
    }

    #statisticsHeading h1 {
        font-size: 70px;
        font-family: Archivo-Bold;
        padding: 40px;
    }

    #statisticsHeading p {
        font-family: Montserrat-Regular;
        font-size: 22px;
    }

    #statisticsValue {
        width: 250px;
        height: 250px;
        border: 5px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #statisticsValue h1 {
        font-size: 70px;
        font-family: Archivo-Bold;
    }

    #statisticsValue p {
        font-size: 22px;
        font-family: Montserrat-Bold;
    }

    /* package section */

    #packageSection {
        background-image: url(../images/Background\ 02.jpg);
        background-size: cover;
        background-position: center;
        color: #f64b3c;
        display: grid;
        grid-template-rows: repeat(2, minmax(1fr, 1fr));
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        justify-items: center;
        padding: 7%;
    }

    #packageHeading {
        grid-column: 1/-1;
        font-size: 40px;
        font-family: Archivo-Bold;
        padding-bottom: 40px;
    }

    #bestPackage {
        background-color: white;
        padding: 20px;
        width: 240px;
        text-align: center;
    }

    #bestPackage h1 {
        font-size: 30px;
        font-family: Archivo-Bold;
        padding-bottom: 20px;
    }

    #bestPackage h3 {
        padding: 10px;
        font-size: 22px;
        font-family: Archivo-Bold;
    }

    #bestPackage p {
        font-size: 18px;
        font-family: Montserrat-Regular;
        padding-bottom: 20px;
    }


    /* barry Henderson Section */

    #barryHendersonSection {
        background-image: url(../images/Background\ 06.jpg);
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 680px;
    }

    #barryHendersonSection p {
        width: 50%;
        font-size: 30px;
        font-family: Archivo-Bold;
        padding: 40px;
        text-align: center;
    }

    #barryHendersonSection h1 {
        font-size: 40px;
        font-family: Montserrat-Bold;
    }

    /* Subscribe Section */

    #subscribeSection {
        background-image: url(../images/Background\ 02.jpg);
        background-size: cover;
        background-position: center;
        color: #f64b3c;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 7%;
        height: 650px;
    }

    #subscribeSection h1 {
        font-size: 70px;
        font-family: Archivo-Bold;
    }

    #subscribeSection p {
        font-size: 24px;
        font-family: Nunito-Regular;
        width: 50%;
        text-align: center;
        padding: 30px 0px;
    }

    #subscribeForm {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #subscribeSection form input {
        width: 400px;
        height: 50px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-color: #f6eedf;
        font-size: 18px;
        padding-left: 20px;
    }

    input:focus::placeholder {
        color: transparent;
    }

    #subscribeBtn {
        background-color: #f64b3c;
        color: white;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        height: 50px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
    }

    #subscribeBtn a {
        text-decoration: none;
        color: white;
    }

    #subscribeBtn a:hover {
        font-weight: bold;
    }

    /* Link Section */

    #linkSection {
        background-color: #222222;
        color: white;
        display: grid;
        grid-template-columns: repeat(6, minmax(200px, 1fr));
        grid-template-rows: 1fr;
        padding: 7%;
        height: 630px;
        padding-top: 200px;
    }

    #titleHere {
        grid-column: 1/4;
        width: 70%;
    }

    #linkSection h1 {
        font-size: 24px;
        font-family: Archivo-Bold;
        padding-bottom: 40px;
    }

    #linkSection p {
        font-size: 18px;
        font-family: Nunito-Regular;
        padding-bottom: 40px;
    }

    #socialIcon {
        display: flex;
    }

    #socialIcon a:hover {
        font-size: 22px;
    }

    .fab {
        background-color: white;
        color: #222222;
        padding: 10px;
        border-radius: 100%;
        text-align: center;
        margin: 5px;
    }

    .fa-facebook-f {
        padding: 10px 14px;
    }


    #about ul li, #services ul li, #other ul li {
        padding-bottom: 10px;
        font-size: 18px;
        font-family: Nunito-Regular;
        list-style: none;
    }

    #about ul li a, #services ul li a, #other ul li a {
        text-decoration: none;
        color: white;
    }

    #about ul li a:hover, #services ul li a:hover, #other ul li a:hover {
        color: wheat;
        text-decoration: underline;
    }

    /* responsive 4 tap */
    @media only screen and (max-width: 1080px) {
        #navbar ul li {
            font-size: 16px;
            padding-left: 10px;
        }

        #barryHendersonSection p {
            font-size: 24px;
        }

        #titleHere {
            grid-column: 1/3;
        }
    }

    /* responsive 4 tap */
    @media only screen and (max-width: 800px) {
        #navbar ul li{
            font-size: 14px;
        }
        #discountInfo h1 {
            font-size: 50px;
        }
        #discountInfo p {
            font-size: 24px;
        }
        #burgerCategorySection h1, #burgerCategorySection1 h1 {
            font-size: 50px;
        }
        #burgerCategorySection p, #burgerCategorySection1 p {
            font-size: 18px;
        }
        #statisticsValue {
            width: 200px;
            height: 200px;
        }
        #statisticsSection{
            grid-template-columns: repeat(3, minmax(200px, 1fr));
            padding: 5%;
        }
        #packageSection{
            padding: 5px;
        }
        #packageHeading{
            font-size: 30px;
        }
        #bestPackage{
            padding: 10px;
            width: 220px;
        }
        #barryHendersonSection p {
            font-size: 24px;
        }
        #subscribeSection h1 {
            font-size: 50px;
        }
        #subscribeSection p {
            font-size: 20px;
        }
        #titleHere{
            grid-column: 1/2;
        }
        #socialIcon{
            position: relative;
            left: 250px;
            bottom: 40px;
        }
        #linkSection{
            padding-top: 100px;    
            padding-bottom: 50px;
            height: auto;
        }
         /* mobile responsive */

    @media only screen and (max-width: 600px) {
        #navbar ul li{
            display: none;
            text-align: center;
            background-color: #f64b3c;
            padding: 10px;         
        }
        #discountInfo{
            width: 100%;
            text-align: center;
            display: grid;
            justify-items: center;
        }
        #discountInfo h1{
            font-size: 40px;
        }
            
        }

        #ourChefSection, 
        #statisticsSection,
        #packageSection,
        #linkSection {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            text-align: center;
        }
        #ourChefSection{
            padding: 0px 5%;
        }
        #chefDetail{
            text-align: center;
        }
      
        #burgerImage, 
        #burgerInfo, 
        #burgerImage1, 
        #burgerInfo1 {
            width: 100%;
            display: grid;
            justify-items: center;
            text-align: center;
        }

        #burgerCategorySection1{
            flex-direction: column-reverse;
        }
        #statisticsHeading h1 {
            font-size: 50px;
            padding: 30px;
        }
        #statisticsValue{
            margin-bottom: 50px;
        }
        #packageHeading{
            font-size: 18px;
            padding: 20px;
        }
        #bestPackage{
            width: 270px;
            margin: 10px 0px;
            display: grid;
            justify-items: center;
        }
        #barryHendersonSectio, 
        #subscribeSection {
            height: auto;
            padding: 200px 10px;
        }

        #barryHendersonSection p{
            font-size: 18px;
            width: 100%;
        }

        #barryHendersonSection h1{
            font-size: 30px;
        }
        #subscribeSection h1{
            font-size: 28px;
        }
        #subscribeSection p{
            width: auto;
        }
        #subscribeForm form input{
            width: 220px;
        }
        #subscribeBtn{
            width: 90px;
        }
        #subscribeBtn a{
            font-size: 18px;
        }
        #linkSection{
            display: grid;
            text-align: left;
            padding-left: 100px;
        }
        #socialIcon {
            position: static;
        }
        #linkSection h1{
            padding-top: 40px;
            padding-bottom: 20px;
        }
        
    }

   