#productImage {
	text-align: left;
}
.productImage {
	text-align: center;
}
.productImage img,
#productImage img {
	width: 80%;
}
@media only screen and (max-width: 800px) {
	#productImage {
		text-align: center;
	}
}
