#productImage {
    width: 50%;
    padding: 7%;
    align-items: center;
}

#productImage img {
    width: 80%;
}

/* responsive 4 tap */

@media only screen and (max-width: 600px) {

    #productImage{
        width: 100%;
        display: grid;
        justify-items: center;
        text-align: center;
    }
}