.BurCatContainer {
	background-color: #f64b3c;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 7%;
}
#BurCatContainer1 {
	background-image: url(../../images/Background03.jpg);
}

.burgerInfo,
.burgerImage {
	width: 50%;
}

/* responsive 4 tap */

@media only screen and (max-width: 800px) {
	.burgerInfo,
	.burgerImage {
		width: 100%;
		text-align: center;
	}
	#BurCatContainer1 {
		flex-direction: column-reverse;
	}
}
