#burgerCategorySection {
    background-color: #f64b3c;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 7%;
}

#burgerImage {
    width: 50%;
}

#burgerImage img {
    width: 80%;
}

#burgerInfo {
    width: 50%;
}

#burgerCategorySection h1 {
    font-size: 70px;
    font-family: Archivo-Bold;
    padding: 20px 0px;
}

#burgerCategorySection p {
    font-size: 24px;
    font-family: Nunito-Regular;
    padding-bottom: 40px;
}

#burgerCategorySection h2 {
    font-size: 22px;
    font-family: Poppins-SemiBold;
    background-color: white;
    width: 200px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 30px;
}

#burgerCategorySection h2 a {
    text-decoration: none;
    color: #f64b3c;
}

#burgerCategorySection h2 a:hover {
    color: wheat;
}

/* responsive 4 tap */

@media only screen and (max-width: 800px) {

    #burgerCategorySection h1,
    #burgerCategorySection1 h1 {
        font-size: 50px;
    }

    #burgerCategorySection p,
    #burgerCategorySection1 p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {

    #burgerImage,
    #burgerInfo,
    #burgerImage1,
    #burgerInfo1 {
        width: 100%;
        display: grid;
        justify-items: center;
        text-align: center;
    }

    #burgerCategorySection1 {
        flex-direction: column-reverse;
    }
}