@font-face {
  font-family: Poppins-SemiBold;
  src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Archivo-Bold;
  src: url(./fonts/Archivo-Bold.ttf);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(./fonts/Nunito-Regular.ttf)
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(./fonts/Montserrat-Regular.ttf)
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.uniPadding {
  padding: 0px 5%;
}

/* discount section */

#discountSection {
  background-image: url(./images/Background01.png);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo, #discountInfo {
  width: 50%;
}

#navbar {
  width: 50%;
  text-align: right;
}

#navbar ul li {
  display: inline-block;
  font-size: 18px;
  font-family: Poppins-SemiBold;
  padding-left: 30px;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  text-decoration: underline;
  color: wheat;
}

#discountInfo h1 {
  font-size: 70px;
  font-family: Archivo-Bold;
  padding-bottom: 40px;
  padding-top: 40px;
}

#discountInfo p {
  font-size: 30px;
  font-family: Nunito-Regular;
}

#discountInfo h2 {
  font-size: 18px;
  font-family: Poppins-SemiBold;
  background-color: #f64b3c;
  width: 200px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 30px;
  margin-top: 50px;
}

#discountInfo h2 a {
  text-decoration: none;
  color: white;
}

#discountInfo h2 a:hover {
  color: wheat;

}

/* Our Chef Section */

#ourChefSection {
  background-image: url(./images/Background02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f64b3c;
  padding-bottom: 50px;
  padding-top: 50px;
  display: grid;
  grid-template-rows: repeat(2, minmax(1fr, 1fr));
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
}

#chefDetail {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-column: 1/-1;
}

#chefDetail h1 {
  padding: 30px;
  font-size: 50px;
  font-family: Archivo-Bold;
}

#chefDetail p {
  font-size: 22px;
  font-family: Nunito-Regular;
}

#chef {
  text-align: center;
  padding: 30px 10px;
}

#chef img {
  width: 200px;
  padding: 10px;
}

#chef h1 {
  font-size: 25px;
  font-family: Archivo-Bold;
  padding: 15px 0px;
}

#chef p {
  font-family: Montserrat-Regular;
  font-size: 18px;
}

/* burger Catory Section */

#burgerCategorySection {
  background-color: #f64b3c;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 7%;
}

#burgerImage {
  width: 50%;
}

#burgerImage img {
  width: 80%;
}

#burgerInfo {
  width: 50%;
}

#burgerCategorySection h1 {
  font-size: 70px;
  font-family: Archivo-Bold;
  padding: 20px 0px;
}

#burgerCategorySection p {
  font-size: 24px;
  font-family: Nunito-Regular;
  padding-bottom: 40px;
}

#burgerCategorySection h2 {
  font-size: 22px;
  font-family: Poppins-SemiBold;
  background-color: white;
  width: 200px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 30px;
}

#burgerCategorySection h2 a {
  text-decoration: none;
  color: #f64b3c;
}

#burgerCategorySection h2 a:hover {
  color: wheat;
}

/* burger category section2 */

#burgerCategorySection1 {
  background-image: url(./images/Background03.jpg);
  background-size: cover;
  background-position: center;
  color: #f64b3c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 7%;
}

#burgerInfo1 {
  width: 50%;
}

#burgerCategorySection1 h1 {
  font-size: 70px;
  font-family: Archivo-Bold;
  padding: 20px 0px;

}

#burgerCategorySection1 p {
  font-size: 24px;
  font-family: Nunito-Regular;
  padding-bottom: 40px;
}

#burgerImage1 {
  width: 50%;
  text-align: right;
}

#burgerImage1 img {
  width: 80%;
}

/* order now button */

#burgerCategorySection1 h2,
#bestPackage h2 {
  font-size: 22px;
  font-family: Poppins-SemiBold;
  background-color: #f64b3c;
  color: white;
  width: 200px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 30px;
}

#burgerCategorySection1 h2 a,
#bestPackage h2 a {
  text-decoration: none;
  color: white
}

#burgerCategorySection1 h2 a:hover,
#bestPackage h2 a:hover {
  color: wheat;
}

/* statistics Section */

#statisticsSection {
  background-color: #f64b3c;
  color: white;
  display: grid;
  grid-template-rows: repeat(2, minmax(250px, 1fr));
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  justify-items: center;
  text-align: center;
  padding: 7%;
}

#statisticsHeading {
  grid-column: 1/-1;
}

#statisticsHeading h1 {
  font-size: 70px;
  font-family: Archivo-Bold;
  padding: 40px;
}

#statisticsHeading p {
  font-family: Montserrat-Regular;
  font-size: 22px;
}

#statisticsValue {
  width: 250px;
  height: 250px;
  border: 5px solid white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#statisticsValue h1 {
  font-size: 70px;
  font-family: Archivo-Bold;
}

#statisticsValue p {
  font-size: 22px;
  font-family: Montserrat-Bold;
}

